$primary-color: #050816;
$secondary-color: #aaa6c3;
$tertiary-color: #151030;
$black-100: #100d25;
$black-200: #090325;
$white-100: #f3f3f3;

$paddingX-sm: 16px;
$paddingX: 6px;

$paddingY-sm: 16px;
$paddingY: 6px;

$padding-sm: 16px;
$paddingX: 6px;
$paddingY-extra: 10px;

$card-shadow: 0px 35px 120px -15px #211e35;
