.logo {
  position: fixed;
  top: 0.4rem;
  left: -4.8rem;
  z-index: 10000;

  img {
    height: 15rem;
    width: 15rem;
  }
}

@media (min-width: 992px) {
  .logo {
    position: fixed;
    left: -5rem;
    top: -4.5rem;

    img {
      height: 20rem;
      width: 20rem;
    }
  }
}
